<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.tour.mapper.GuideMapper">

    <select id="queryGuideById" resultType="Guide" parameterType="string">
   SELECT id, name, gender, hours, salary FROM guide  where id=#{id}
    </select>

    <select id="queryGuides" resultType="Guide">
SELECT id, name, gender, hours, salary ,state FROM guide order by id
    </select>

    <insert id="insertGuide" parameterType="Guide">
INSERT INTO guide(id, name, gender, hours, salary) VALUES (#{id}, #{name}, #{gender}, #{hours}, #{salary})
    </insert>


    <delete id="deleteGuideById" parameterType="string">
        DELETE FROM guide WHERE id=#{id}
    </delete>
    <!--    导游分配-->
    <select id="queryGuideStateById" parameterType="string">
   SELECT state FROM guide  where id=#{id}
    </select>
    <update id="updateGuideStateById" parameterType="Guide">
    UPDATE public.guide
    SET state=#{state}
    WHERE id = #{id}
    </update>

    <update id="updateGuideById" parameterType="Guide">
        UPDATE public.guide
        SET name=#{name}, gender=#{gender}, hours=${hours}, salary=#{salary}
        WHERE id =#{id}
    </update>


    <select id="queryGuideUnWorked" parameterType="string" resultType="Guide">
    SELECT * FROM guide  where state=#{state}
    </select>
</mapper>